@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}

:root{
  --main-color:#2D3142;
  --text-color:#ADACB5;
  --other:#D8D5DB;
}
body{
  background-color: var(--main-color);
  
}
.guestLayout{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--other);
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}
.auth-form input{
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 300px;
  background-color: var(--other);
 

}

.auth-form button{
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100px;
  background-color: var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}
.auth-form button:hover{
  background-color: var(--other);
  
  width: 300px;
}

p{
  color: var(--text-color);
}
h1{
  color: var(--text-color);
}
.link{
   color: inherit;
   text-decoration: none;
}
.link-clean{
  color: inherit;
}
.link-clean:hover {
  text-decoration: underline;
  color: #fff;
}
.defaultLayout{
  height: 100vh;
  display: flex;
  position: relative;
  
}
.icon{
  font-size: 20px;
  color: var(--text-color);
}
.profile-img{
width: 40px;
border-radius: 50%;
}
.userAcc{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0 10px 10px;
}
.userAcc img,.userAcc p{
  cursor: pointer;
}
.app{
 width: 61%;
 overflow-y: auto;
}
.container{
  padding: 2% 3% 0 3%;
}
.app input{
   padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--other);
}
.searchRe{
  background-color: var(--other);
  border-radius: 20px;
  
}
.navbar{
  
 width: 16%;
 display: flex;
 flex-direction: column;
 align-items: start;
 border-right:1px solid var(--other);
 padding-top: 20px;
 gap: 10px;
 min-width: 192px;
 position: sticky;
 
 
}
.menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.des{
  display: flex;
  gap: 10px;
  padding: 10px 0 10px 50px ;
  cursor: pointer;
  
}

.boton-elegante {
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}
.menu-title{
  padding: 0 0 5px 15px;
  font-weight: bold;
  font-size: 18px;
 
}

.friends{
 width: 23%;
 display: flex;
 flex-direction: column;
 align-items: start;
 border-left:1px solid var(--other);
 padding-top: 20px;
 gap: 5px;
 overflow-y: scroll;
 
}

/*button */

.btnn {
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--main-color);
  cursor: pointer;
  width: 95.02px;
  height: 42.66px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btnn .span-mother {
  display: flex;
  overflow: hidden;
}

.btnn:hover .span-mother {
  position: absolute;
}

.btnn:hover .span-mother span {
  transform: translateY(1.2em);
}

.btnn .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.btnn .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.btnn .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.btnn .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.btnn .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.btnn .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.btnn .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.btnn .span-mother2 span {
  transform: translateY(-1.2em);
}

.btnn:hover .span-mother2 span {
  transform: translateY(0);
}

.btnn .span-mother2 span {
  transition: 0.2s;
}

.btnn .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.btnn .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.btnn .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.btnn .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.btnn .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}


/* end button */
.suggestions{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.friend-title{
   padding: 0 0 5px 15px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.more{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
}
.more:hover p,.more:hover .icon{
  color: var(--other);
}

.fr{
  width: 100%;
  padding: 23px 30px;

}
.post{
  padding: 20px 40px 40px 40px;
  border: 2px solid var(--other);
  margin-top: 40px;
  border-radius: 20px;
}
.description{
  color: #fff;
}
.poster{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.poster p,.poster img{
  cursor: pointer;
}
.photo{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.photo img{
  width: 95%;
  
}
.features{
  display: flex;
  gap: 10px;
}
.postIcon{
  font-size: 22px;
  cursor: pointer;
}

.app::-webkit-scrollbar,.friends::-webkit-scrollbar {
  display: none;
}


.app,.friends {
  scrollbar-width: none;
}


.app,.friends {
  -ms-overflow-style: none;
}
.bc p{
  color: #333;
}
.porp{
  display: flex;
  gap: 10px;
}
.porp label{
  display: flex;
  gap: 5px;
  cursor: pointer;
    color: var(--text-color);
}
